body {
  margin: 0;
  padding: 0;
  background: #d7f0ec;
}

* {
  font-family: "Nunito", sans-serif;
}

.logo {
  margin-top: 20px;
  width: 100px;
  margin-left: 20px;
}

nav {
  height: 70px;
  background-color: #fefefe;
  box-shadow: 9px 11px 37px 0px #b59eb5;
  position: relative;
}

.nav-container {
  box-sizing: border-box;
  display: flex;
  height: 70px;
  justify-content: space-between;
  min-width: 60%;
}

.hamburger {
  display: block;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 200px;
}

.hamburger:focus .side-nav {
  display: block;
}

.side-nav {
  position: absolute;
  width: 100%;
  bottom: -160px;
  left: 0;
  background-color: #000000;
  padding: 10px;
  box-sizing: border-box;
  display: none;
}

.side-nav-links a {
  display: block;
  color: white;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  margin: 10px;
  display: none;
}

table {
  border: 0.5px solid #000000;
  border-collapse: collapse;
  min-width: 100%;
}

.table {
  padding: 20px;
}

th,
td {
  border-bottom: 0.5px solid #000000;
  padding: 10px;
  text-align: center;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(even) {
  background-color: #fefefe;
}

tr:nth-child(odd) {
  background-color: #fef3f1;
}

td:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.nav-links a:hover {
  color: blue;
  cursor: pointer;
}

.form {
  padding: 20px;
  margin: 25px;
}

h2:nth-of-type(1) {
  text-align: center;
}

.movie-img {
  display: none;
}

form {
  border: 0 solid black;
  background-color: #ffffff;
  box-shadow: -12px 5px 80px 0px rgb(75, 109, 163);
  border-radius: 10px;
  padding: 20px;
}

footer {
  background-color: #000000;
  padding: 50px;
}

.footer-text {
  color: white;
  text-align: center;
}

@media (min-width: 1080px) {
  nav {
    background-color: #fefefe;
    box-shadow: 9px 11px 37px 0px #b59eb5;
    height: 70px;
    width: 100%;
  }

  .nav-container {
    box-sizing: border-box;
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
  }

  .nav-links a {
    color: #000000;
    display: inline-block;
    margin: 10px;
    padding-top: 20px;
    text-decoration: none;
  }

  .form {
    display: flex;
    margin: 25px;
    padding: 20px;
  }

  .hamburger {
    display: none;
  }

  .logo {
    margin-top: 20px;
    width: 100px;
  }

  form {
    border: 0 solid black;
    background-color: #ffffff;
    box-shadow: -12px 5px 80px 0px rgb(75, 109, 163);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
  }

  .movie-img {
    display: block;
    height: 60%;
    margin-left: auto;
    margin-top: 150px;
    width: 50%;
  }
}
